.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.heading {
  font-weight: bold;
  font-size: 1.1em;
}


.analysis{
  font-size: 1em;
  color: var(--gray-text);
  max-width: 60ch;
}

.analysis .bold{
  font-weight: bold;
}

.chart-container{
  width: fit-content;
  min-height: 15em;

}


.tooltip{
  background-color: var(--black-text);
  padding: 1em 1em;
  border-radius: 0.4em;
  width: 12ch;

}

.tooltip .value{
  font-size: 1.1em;
  color: var(--white);
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.tooltip .label{
  font-size: 0.9em;
  color: var(--gray);
  font-weight: bold;
  
}