.container {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 1.5em;
  border-bottom: 1px solid var(--gray);
}

.logo {
}

.user-info {
}

.user-info-card {
  border: 2px solid var(--gray);
  border-radius: 10px;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0.4em 1.2em;
  margin-left: auto;
}
.user-avatar {
  display: flex;
  align-items: center;
}
.user-avatar img{
   width: 28px;
   border-radius: 100%;
   


}
