.input {
  border: 2px solid var(--gray-dark);
  border-radius: 5px;
  padding: 0.55em 1.2em;
  transition-duration:200ms;
  transition-property: border box-shadow ;
}

.input:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.input:focus {
  border-color: var(--blue-primary);
}
