.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.heading {
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.questions-ratio{
  color: var(--blue-text);
}

.analysis{
  color: var(--gray-text)
}
.chart-container{
  min-height: 15em;
}