.main {
  display: flex;
  align-items: center;
  gap: 1em;
}

.icon img {
  width: 32px;
}

.skill-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5em;
}

.skill-name {
  font-size: 1.2em;
  font-weight: bold;
}

.skill-description {
  font-size: 0.9em;
  color: var(--gray-text);
}

.update-btn {
  margin-left: auto;
}

.update-form{
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.update-form-item {
  display: flex;
  align-items: center;
justify-content: space-between;  
}
.update-form-item input{
  width: 10em;
  color: var(--blue-primary);
}

.update-form-desc {
  display: flex;
  align-items: center;
font-size: 0.9em;
  gap: 1em;
  margin-right: 2em;
  color: var(--gray-text);

}

.update-form-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  background-color: var(--blue-primary);
  color: var(--white);
  border-radius: 100%;
}

.update-form-highlighted {
  font-weight: bold;
}
